version: '3.9'

services:

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: underexp0

  adminer:
    image: adminer
    restart: always
    ports:
      - 8666:8080
